<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gblogs</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <header class="container mt-1 mb-5">
    <h1><a href="/">Gblogs</a></h1>
    <div class="search-bar">
      <form action="/search" method="post">
        <input type="text" name="id" id="id" placeholder="enter id (only numbers)" required>
        <input type="submit" value="search">
      </form>
    </div>
    <div class="create-post">
      <form action="/create" method="get">
        <input type="submit" value="Create New">
      </form>
    </div>
  </header>