<!-- prettier-ignore -->
<%-include("../partials/header.ejs") %>

<div class="container">
  <h1>Gowtham Gandhi</h1>
  <h4>@gowtham2k2</h4>
</div>

<!-- prettier-ignore -->
<%-include("../partials/footer.ejs") %>
